@model WF.ContaBancaria.Application.ViewModels.PessoaViewModel

@{
    ViewBag.Title = "Detalhes da pessoa";
}

<div class="container"style="margin-top:1%;">
    <div class="row">
        <div class="">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">@Model.Nome</h4>
                </div>
                <div class="panel-body">
                    <div class="row">                        

                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>                                    
                                    <tr>
                                        <td>Data de Nascimento:</td>
                                        <td>@Model.DataNascimento.ToString("d")</td>
                                    </tr>                                    
                                    <tr>
                                    <tr>
                                        <td>CPF</td>
                                        <td>@Model.CPF</td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Edit", "Pessoa", new {id = Model.Id})" data-modal="" class="btn btn-primary">
                        <span title="Editar" class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="@Url.Action("Delete", "Pessoa", new { id = Model.Id })" data-modal="" class="btn btn-danger">
                        <span title="Excluir" class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>