@model IEnumerable<WF.ContaBancaria.Application.ViewModels.ClienteViewModel>

@{
    ViewBag.Title = "Cliente";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Index", "Cliente", FormMethod.Get))
        {
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    @Html.TextBox("nome", null, new { @class = "form-control input", @placeholder = "Pesquisar por nome" })
                    <span class="input-group-btn" style="display:inline-block;">
                        <button class="btn btn-info btn" type="submit">
                            <small><i class="glyphicon glyphicon-search"></i></small>
                        </button>
                    </span>
                </div>
            </div>
        }
    </div>
    <div class="col-md-8">
        <div>
            <div class="pull-right">
                <a href="@Url.Action("Create", "Cliente")" class="btn btn-primary">
                    <span title="Detalhes" class="glyphicon glyphicon-plus-sign"></span> Nova Cliente
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Cliente", new {id = item.Id})" class="btn btn-warning">
                <span title="Editar" class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="@Url.Action("Details", "Cliente", new {id = item.Id})" class="btn btn-primary">
                <span title="Detalhes" class="glyphicon glyphicon-search"></span>
            </a>
            <a href="@Url.Action("Delete", "Cliente", new {id = item.Id})" class="btn btn-danger">
                <span title="Excluir" class="glyphicon glyphicon-trash"></span>
            </a>
        </td>
    </tr>
}

</table>
